name: CI Chat DevOps

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build backend
      run: docker build -t chat-backend ./backend

    - name: Build frontend
      run: docker build -t chat-frontend ./frontend

